<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Author</th>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= category_name(@most_voted_article.id) %></td>
        <td><%= article.user.name %></td>
        <td><%= image_tag(@most_voted_article.image, style: 'width:100%') if @most_voted_article.image.attached? %></td>
        <td><%= @most_voted_article.title %></td>
        <td><%= @most_voted_article.text %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>